
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/spa/JavaScript.js"></script>
    <title>Index</title>
</head>
<body ng-app>
    <div>
        10 + 10 = {{10 + 10}}
    </div>
    <button id="btn" class="btn btn-primary" onclick="">Click</button>
</body>
</html>
